@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1d594e;
  color: #f1f1f1;
}
